/* ===UNIVERSAL STYLES=== */

* {
    font-family: 'Open Sans', sans-serif;
}

.flex {
    display: flex;
}

/* ===HEADER SECTION STYLES=== */

header {
    justify-content: space-between;
    align-items: center;
    height: 64px;
    padding-left: 24px;
    padding-right: 24px;
    
}

.bold {
    font-weight: 800;
    color: #4A4A4A;
}

.gray {
    color: #A9A9A9;
    font-weight: 500;
}

.logo {
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif; /*TODO find better matching font */
    font-size: 20px;
    letter-spacing: 0.80px;
}

.logo img {
    position: relative;
    top: 8.5px;
    height: 50px;
}

nav a {
    font-family: 'Open Sans', sans-serif; /*TODO find better matching font */
    font-size: 14px;
    font-weight: 500;
    color: black;
    text-decoration: none;
    margin-right: 16px;
}

nav a:last-child {
    margin-right: 0;
}

/* ===BANNER STYLES=== */

.banner {
    align-items: center;
    background-color: #D8D8D8;
}

.banner img { /*FIXME not proper width/height */
    width: 60%;
    height: auto;
    padding: 32px 40px 32px 24px
}

.banner figure {
    margin: 32px -200px 32px 24px;
    padding-right: 0;
}

.button {
    width: 100%;
    text-align: center;
    color: white;
    background-color: #4A4A4A;
    padding-top: 10px;
    padding-bottom: 10px;
}

.learn {
    font-family: 'Open Sans', sans-serif;
    color: #4A4A4A;
    margin-right: 135px;
}

.learn h2 {
    font-size: 35px;
    font-weight: 800;
}

/* ===INFORMATION SECTION STYLES=== */

.grid {
    flex-direction: column;
    width: 423px;
    flex: 1;
    border-left: 1px solid #D8D8D8;
    padding-top: 16px;
}

.grid img {
    height: auto;
    width: 35%;
    height: 35%;
    padding: 16px;
}

.grid .info-container:last-child {
    background-color: #D8D8D8;
}


.info-container {
    border-bottom: 1px solid #D8D8D8;
}

.information-main {
    width: 100%;
    flex: 1.5;
    padding: 32px 24px;
}

.information-main img {
    width: 100%;
    height: auto;
}

.text-container {
    flex-direction: column;
}